[submodule "HEngine/vendor/spdlog"]
	path = HEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HEngine/vendor/GLFW"]
	path = HEngine/vendor/GLFW
	url = https://github.com/yu-cao/glfw
[submodule "HEngine/vendor/imgui"]
	path = HEngine/vendor/imgui
	url = https://github.com/yu-cao/imgui
[submodule "HEngine/vendor/glm"]
	path = HEngine/vendor/glm
	url = https://github.com/g-truc/glm
